## Assignment- Python basics

Time for you to test your knowledge. Take a sigh of relief! These assignemnts won't be like that of your mookIT courses and would be more of fun :)

- Create a variable called z, express it as a sum of two different variables, say x and y, and display the result.

In [4]:
x=5;y=10
z = x+y
print(z)

15

- Remove the illegal characters in the variable name:<br />
`2my@-first_name = "XYZ"`

In [4]:
my_first_name = "Nandan"

- Write the correct code for converting any float number, take 6.5 as an example, to an integer.

In [6]:
x = int(6.5)

6

- `Text= "Albert Einstein".`<br />
Get the characters from index 2 to index 5.

In [7]:
Text = "Albert Einstein"
print(Text[2:6])

bert

- Change the value from `"apple"` to `"kiwi"`, in the fruits list.<br />
`fruits=["apple","mango","kiwi","banana"]`

In [1]:
fruits=["apple","mango","kiwi","banana"]
fruits[0] = fruits[2]
print(fruits)

['kiwi', 'mango', 'kiwi', 'banana']

- Use negative indexing to print the last item in the list.
`fruits = ["apple", "banana", "cherry"]`

In [14]:
fruits = ["apple","banana","cherry"]
print(fruits[-1])

cherry

- Remove any one of elements from given set.<br />
`fruits = {"apple", "banana", "cherry"}`

In [2]:
fruits = {"apple","banana","cherry"}
fruits.remove("cherry")
print(fruits)

{'apple', 'banana'}

- Change the mode from online to offline in dictionary given below.

In [20]:
project ={
  "name": "XUVI",
  "no. of mentors": 3,
  "mode": "online"
}
project [ "mode"] = "offline"
print(project)

{'name': 'XUVI', 'no. of mentors': 3, 'mode': 'offline'}

- Print "Equal" if a variable `A`(assign any value) is equal to another variable `B`(assign any value), "smaller" if A<B, otherwise print "None".

In [22]:
A = 10
B = 32
if(A == B):
    print("Equal")
elif (A<B):
    print("smaller")
else:
    print("None")

smaller

- Print all positive integers less than 7 except 3.(using loop method)

In [6]:
for i in range(1,7):
    if(i==3):
        continue
    print(i)

1
2
4
5
6

- Calculate sum and average of n natural numbers using for loop.

In [7]:
sum =0
n =10
for i in range(1,n+1):
    sum = sum + i
print(sum)
if(n==0):
    avg =0
else:
    avg = sum/n
print(avg)

55
5.5

- Write a python code to print multiplication table of 3. (using for loop)

In [33]:
for i in range(1,11):
    print(3*i)

3
6
9
12
15
18
21
24
27
30

- Define a function x and let the function return the x parameter + 5.

In [36]:
def func(x):
    return x+5
x = func(5)
print(x)

10

Yess!! You completed your first step towards mastering python basics. Keep Going.