## Assignment- Python basics

Time for you to test your knowledge. Take a sigh of relief! These assignemnts won't be like that of your mookIT courses and would be more of fun :)

- Create a variable called z, express it as a sum of two different variables, say x and y, and display the result.

In [ ]:
x=5;y=10
z = x+y
print(z)

- Remove the illegal characters in the variable name:<br />
`2my@-first_name = "XYZ"`

In [ ]:
my_first_name = "Nandan"

- Write the correct code for converting any float number, take 6.5 as an example, to an integer.

In [ ]:
x = int(6.5)

- `Text= "Albert Einstein".`<br />
Get the characters from index 2 to index 5.

In [ ]:
Text = "Albert Einstein"
print(Text[2:6])

- Change the value from `"apple"` to `"kiwi"`, in the fruits list.<br />
`fruits=["apple","mango","kiwi","banana"]`

In [ ]:
fruits=["apple","mango","kiwi","banana"]
fruits[0] = fruits[2]
print(fruits)

- Use negative indexing to print the last item in the list.
`fruits = ["apple", "banana", "cherry"]`

In [ ]:
fruits = ["apple","banana","cherry"]
print(fruits[-1])

- Remove any one of elements from given set.<br />
`fruits = {"apple", "banana", "cherry"}`

In [ ]:
fruits = {"apple","banana","cherry"}
fruits.remove("cherry")
print(fruits)

- Change the mode from online to offline in dictionary given below.

In [ ]:
project ={
  "name": "XUVI",
  "no. of mentors": 3,
  "mode": "online"
}
project [ "mode"] = "offline"
print(project)

- Print "Equal" if a variable `A`(assign any value) is equal to another variable `B`(assign any value), "smaller" if A<B, otherwise print "None".

In [ ]:
A = 10
B = 32
if(A == B):
    print("Equal")
elif (A<B):
    print("smaller")
else:
    print("None")

- Print all positive integers less than 7 except 3.(using loop method)

In [ ]:
for i in range(1,7):
    if(i==3):
        continue
    print(i)

- Calculate sum and average of n natural numbers using for loop.

In [2]:
sum =0
n =10
for i in range(1,n+1):
    sum = sum + i
print(sum)
if(n==0):
    avg =0
else:
    avg = sum/n
print(avg)

- Write a python code to print multiplication table of 3. (using for loop)

In [1]:
# Multiplication table (from 1 to 10) in Python

num = 3

# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

- Define a function x and let the function return the x parameter + 5.

In [ ]:
def func(x):
    return x+5
x = func(5)
print(x)

Yess!! You completed your first step towards mastering python basics. Keep Going.