## Assignment- Python basics

Time for you to test your knowledge. Take a sigh of relief! These assignemnts won't be like that of your mookIT courses and would be more of fun :)

- Create a variable called z, express it as a sum of two different variables, say x and y, and display the result.

In [3]:
x = 14
y = 55
z = x + y
print(z)

69

- Remove the illegal characters in the variable name:<br />
`2my@-first_name = "XYZ"`

In [23]:
myfirst_name = "XYZ"
print(myfirst_name)

XYZ

- Write the correct code for converting any float number, take 6.5 as an example, to an integer.

In [6]:
a = 6.5
b = int(a)
print(b)

6

- `Text= "Albert Einstein".`<br />
Get the characters from index 2 to index 5.

In [9]:
A = "Albert Einstein"
print(A[1:6])

lbert

- Change the value from `"apple"` to `"kiwi"`, in the fruits list.<br />
`fruits=["apple","mango","kiwi","banana"]`

In [11]:
fruits=["apple","mango","kiwi","banana"]
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'mango', 'kiwi', 'banana']

- Use negative indexing to print the last item in the list.
`fruits = ["apple", "banana", "cherry"]`

In [25]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-2:-1])

['banana']

- Remove any one of elements from given set.<br />
`fruits = {"apple", "banana", "cherry"}`

In [16]:
fruits = ["apple", "banana", "cherry"]
del fruits[0]
print(fruits)

['banana', 'cherry']

- Change the mode from online to offline in dictionary given below.

In [3]:
project ={
  "name": "XUVI",
  "no. of mentors": 3,
  "mode": "online"
}

del project['mode']
project['mode'] = 'offline'
project

{'name': 'XUVI', 'no. of mentors': 3, 'mode': 'offline'}

- Print "Equal" if a variable `A`(assign any value) is equal to another variable `B`(assign any value), "smaller" if A<B, otherwise print "None".

In [6]:
A = 70
B = 69
if(A==B):
    print ("=")
elif(A<B):
    print ("smaller")
else:
    print ("None")

None

- Print all positive integers less than 7 except 3.(using loop method)

In [10]:
for i in range (8):
    if(i!=3):
        print(i)

0
1
2
4
5
6
7

- Calculate sum and average of n natural numbers using for loop.

In [21]:
n = 8
Sum = 0

for i in range(1, n+1):
    Sum = Sum + i
Avg = Sum/n
print("Sum = ", Sum, "\n Average = ", Avg)

Sum =  36
 Average =  4.5

- Write a python code to print multiplication table of 3. (using for loop)

In [15]:
for i in range (1, 11):
    print("3 time", i, " = ", 3*i)

3 time 1  =  3
3 time 2  =  6
3 time 3  =  9
3 time 4  =  12
3 time 5  =  15
3 time 6  =  18
3 time 7  =  21
3 time 8  =  24
3 time 9  =  27
3 time 10  =  30

- Define a function x and let the function return the x parameter + 5.

In [18]:
def x(x):
    return (x+5)

x(5)

10

Yess!! You completed your first step towards mastering python basics. Keep Going.