### Assignment 2 - Numpy and Pandas Basics

As you have already gone through the first assignment which was based on **Python** basics, you should have realised that these assignments are a lot easier than your normal **Mookit** assignments. Take your time and write down your solutions to each of the questions mentioned below. ðŸ˜ƒ

In [3]:
## importing the Necessary libraries
import numpy as np
import pandas as pd

- Firstly, create a numpy array consisting of all 1's having a size of 7:8

In [5]:
b=np.ones((7,8))
print(b)

[[1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1.]]

- Create a random numpy array consisting of 10 elements ranging from 1 to 100.

In [4]:
a=np.random.randint(1,100,10)
print(a)

[ 6 81 81 35 27 77  4 48 53 58]

- This was quite easy right :p, now you are given with two numpy arrays, namely [1,2] and [3,4], write the code to create all possible combinations of these two numpy arrays.

In [8]:
## Write your code here
a=np.array([1,2])
b=np.array([3,4])
print(np.array(np.meshgrid(a,b)).T.reshape(-1,2))

[[1 3]
 [1 4]
 [2 3]
 [2 4]]

- Create a square matrix of your choice and calculate the maximum, minimum element and their corresponding indexes using numpy.

In [12]:
arr=np.array([[3,5],[1,2]])
m=arr.min()
M=arr.max()
x=np.nonzero(arr==m)
y=np.nonzero(arr==M)
print(m,x,M,y)

1 (array([1], dtype=int64), array([0], dtype=int64)) 5 (array([0], dtype=int64), array([1], dtype=int64))

- from the above matrix that you have created, calculate the determinant and the eigenvalues using numpy.

In [18]:
## Write your code here
d=np.linalg.det(arr)
print(round(d))
e=np.linalg.eig(arr)
print(e)

1
(array([4.79128785, 0.20871215]), array([[ 0.94140906, -0.87315384],
       [ 0.33726692,  0.48744474]]))

- Given a polynomial $x^{3} + 4x^{2} + 5x + 6 = 0$, calculate the roots of the equation using numpy.

In [22]:
## Write your code here
coeff=np.array([1,4,5,6])
print(np.roots(coeff))

[-3. +0.j         -0.5+1.32287566j -0.5-1.32287566j]

- Create two 2-D numpy arrays, the first array should contain all the elements ranging from 0 to 10, having 2 rows and the second 2-D arrays should containing 10 numbers between 1 and 20, having a size of 2x5. 
- After creating the two 2-D numpy arrays, stack them vertically to create a 4x5 matrix.
- Convert the 4x5 matrix to a 1x1 numpy array
- Finally count the frequency of each of the elements occuring in the array.

In [51]:
## Write your code here
arr1=np.arange(10).reshape(2,5)
arr2=np.random.randint(1,20,10).reshape(2,5)
print("arr2=",arr2)
arr3=np.vstack((arr1,arr2))
print("stacked array=",arr3)
arr4=arr3.ravel()
print(arr4)
c=np.unique(arr4,return_counts="True")
print(c)

arr2= [[17 10 17  6 16]
 [15 19  3 10  6]]
stacked array= [[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [17 10 17  6 16]
 [15 19  3 10  6]]
[ 0  1  2  3  4  5  6  7  8  9 17 10 17  6 16 15 19  3 10  6]
(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 15, 16, 17, 19]), array([1, 1, 1, 2, 1, 1, 3, 1, 1, 1, 2, 1, 1, 2, 1], dtype=int64))

- Convert the following dictionary to a Pandas Dataframe

In [89]:
data ={'area': ['new-hills', 'cape-town', 'mumbai','new Delhi', 'Kanpur'],
       'rainfall':[100, 70, 200, 30, 25],
       'temperature':[20, 25, 39, 45, 47]}
## Write your code here
a=pd.DataFrame(data)
print(a)

        area  rainfall  temperature
0  new-hills       100           20
1  cape-town        70           25
2     mumbai       200           39
3  new Delhi        30           45
4     Kanpur        25           47

- Using the dataframe created above:
   - Display all the info related to the dataframe.
   - replace the entry **"new-hills"** with **"old-hills"** and replace the raingfall amount **100** with **99**.
   - sort the entries, rainfall amount should be **ascending order** and the temperature should be **descending order**.

In [95]:
## write your code here
print(a.info())
a.replace("new-hills","old-hills",inplace=True)
a["rainfall"].replace(100,90,inplace=True)
print(a)
a.sort_values(["rainfall","temperature"],ascending=[True,False],inplace=True)
print(a)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 4 to 2
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   area         5 non-null      object
 1   rainfall     5 non-null      int64
 2   temperature  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 160.0+ bytes
None
        area  rainfall  temperature
4     Kanpur        25           47
3  new Delhi        30           45
1  cape-town        70           25
0  old-hills        90           20
2     mumbai       200           39
        area  rainfall  temperature
4     Kanpur        25           47
3  new Delhi        30           45
1  cape-town        70           25
0  old-hills        90           20
2     mumbai       200           39

- Using the **csv file** present, use pandas to read the **csv** file in a dataframe.
- Firstly, use **pandas info()** method to display the datatypes of the entries present in each column in the dataframe.
- Find the number of **null entries (NaN)** values in each column and show it as an output.
- Replace the `~1000` in the **Depth (in meters)** and `~3300` in **Depth (in feet)** columns with `1000` and `3300` and display the modified dataframe.
- Also calculate the rows corresponding to the maximum values

In [112]:
# Write your code here
a=pd.read_csv("lakes.csv")
print(a.info())
print(pd.isna(a).sum())
a["Depth (in meters)"].replace(~1000,1000,inplace=True)
a["Depth (in feet)"].replace(~3300,3300,inplace=True)
print(a)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               36 non-null     object
 1   Country            36 non-null     object
 2   Reigon             28 non-null     object
 3   Depth (in meters)  36 non-null     object
 4   Depth (in feet)    36 non-null     object
 5   Depth^2/area       36 non-null     object
dtypes: object(6)
memory usage: 1.8+ KB
None
Name                 0
Country              0
Reigon               8
Depth (in meters)    0
Depth (in feet)      0
Depth^2/area         0
dtype: int64
                            Name  \
0                         Baikal
1                     Tanganyika
2                    Caspian sea
3                         Vostok
4           O'Higgins-San MartÃ­n
5            Malawi/Nyasa/Niassa
6                      Issyk Kul
7                    Great Slave
8                         Crater
9                         Matano
10  General Carrera-Buenos Aires
11              Hornindalsvatnet
12                       Quesnel
13                          Toba
14                         Sarez
15                         Tahoe
16                     Argentino
17                          Kivu
18                    Salsvatnet
19                  Nahuel Huapi
20                       Hauroko
21      Cochrane / PueyrredÃ³n[6]
22                     Lake Tinn
23                         Adams
24                        Chelan
25                        Van[7]
26                          Poso
27                       Fagnano
28                    Great Bear
29                     Manapouri
30                         MjÃ¸sa
31                          Como
32                       Te Anau
33                        Tazawa
34                      Wakatipu
35                      Superior

                                              Country  \
0                                             Â Russia
1   Â Tanzania, Democratic Republic of the Congo, B...
2   Â Iran, Russia, Turkmenistan, Kazakhstan, Azerb...
3                                         Â Antarctica
4                                   Â Chile, Argentina
5                       Â Mozambique,Â Malawi,Â Tanzania
6                                         Â Kyrgyzstan
7                                             Â Canada
8                                      Â United States
9                                          Â Indonesia
10                                 Â Chile, Â Argentina
11                                            Â Norway
12                                            Â Canada
13                                         Â Indonesia
14                                        Â Tajikistan
15                                     Â United States
16                                         Â Argentina
17         Â Democratic Republic of the Congo, Â Rwanda
18                                            Â Norway
19                                         Â Argentina
20                                       Â New Zealand
21                                 Â Chile, Â Argentina
22                                            Â Norway
23                                            Â Canada
24                                     Â United States
25                                            Â Turkey
26                                         Â Indonesia
27                                 Â Argentina, Â Chile
28                                            Â Canada
29                                       Â New Zealand
30                                            Â Norway
31                                             Â Italy
32                                       Â New Zealand
33                                             Â Japan
34                                       Â New Zealand
35                                            Â Canada

                                     Reigon Depth (in meters) Depth (in feet)  \
0                                   Siberia              1642            5387
1                               East Africa              1470            4823
2                                       NaN              1025            3363
3                                       NaN             ~1000           ~3300
4     AysÃ©n (Chile), Santa Cruz (Argentina)               836            2742
5                                       NaN               706            2316
6                                       NaN               668            2192
7                     Northwest Territories               614            2015
8                                    Oregon               594            1949
9                            South Sulawesi               590            1936
10                                      NaN               586            1923
11                                 Vestland               514            1686
12                         British Columbia               511            1677
13                                  Sumatra               505            1657
14                                      NaN               505            1657
15                       California, Nevada               501            1645
16                   Santa Cruz (Patagonia)               500            1640
17                                      NaN               480            1575
18                                TrÃ¸ndelag               464            1523
19                     Rio Negro, Patagonia               464            1523
20                 Southland (South Island)               462            1516
21    AysÃ©n (Chile), Santa Cruz (Argentina)               460            1509
22                     Vestfold og Telemark               460            1509
23                         British Columbia               457            1499
24                       Washington (state)               453            1486
25                                      NaN               451            1480
26                                 Sulawesi               450            1476
27                         Tierra del Fuego               449            1473
28                    Northwest Territories               446            1463
29                 Southland (South Island)               444            1457
30               Hedmark, Oppland and Viken             443.5            1455
31                                 Lombardy               425            1394
32                 Southland (South Island)               425            1390
33                         Akita Prefecture               423            1387
34                             South Island               420            1378
35  Ontario, Michigan, Minnesota, Wisconsin               406            1332

   Depth^2/area
0     9.22Ã—10âˆ’6
1      8.1Ã—10âˆ’6
2     1.68Ã—10âˆ’6
3     8.94Ã—10âˆ’6
4     2.63Ã—10âˆ’5
5      4.1Ã—10âˆ’6
6     8.46Ã—10âˆ’6
7     3.72Ã—10âˆ’6
8     8.16Ã—10âˆ’5
9     4.61Ã—10âˆ’5
10    1.36Ã—10âˆ’5
11     7.2Ã—10âˆ’5
12    3.13Ã—10âˆ’5
13     1.5Ã—10âˆ’5
14    5.66Ã—10âˆ’5
15    2.26Ã—10âˆ’5
16    1.33Ã—10âˆ’5
17    9.24Ã—10âˆ’6
18    6.93Ã—10âˆ’5
19    2.02Ã—10âˆ’5
20    5.82Ã—10âˆ’5
21    2.55Ã—10âˆ’5
22    6.41Ã—10âˆ’5
23     3.9Ã—10âˆ’5
24     3.9Ã—10âˆ’5
25    7.36Ã—10âˆ’6
26     2.5Ã—10âˆ’5
27    1.77Ã—10âˆ’5
28    2.53Ã—10âˆ’6
29    3.73Ã—10âˆ’5
30    2.33Ã—10âˆ’5
31    3.52Ã—10âˆ’5
32    2.29Ã—10âˆ’5
33    8.31Ã—10âˆ’5
34    2.47Ã—10âˆ’5
35    1.42Ã—10âˆ’6